.profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.userContainer {
    margin-top: 20px;
    max-width: 250px;
    margin-left: 20px;
}

.userContainer img {
    cursor: -webkit-grab;
    cursor: grab;
}